@font-face {
  font-family: GothamBook;
  src: url(./static/GothamBook.ttf);
}

body {
  font-family: "GothamBook", serif;
  display: inline;
  background-image: linear-gradient(white, gray, white);
}
p {
  white-space: nowrap;
}
li {
  white-space: nowrap;
}

.main {
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 400px auto;
  height: 100%;
}
